<% content_for :title_bar do %>
  <h1>Listing projects</h1>
<% end %>
<ul id="projects" style="float:left">
  <% @projects.each do |project| %>
    <li>
      <div class="project_options">
        <%= link_to 'Edit', edit_project_path(project) %>
        <%= link_to 'Members', project_users_path(project) %>
        <%= link_to 'Delete', project, :confirm => 'Are you sure you want to delete this project?  This action cannot be undone.', :method => :delete %>
      </div>
      <h2><%= link_to project.name, project %></h2>
      Started at: 
      <%= project.start_date %>
      <br />
      <p>
        The iteration starts on <%= Date::DAYNAMES[project.iteration_start_day].pluralize %> with length of <%= project.iteration_length %> week(s)
      </p>
    </li>
  <% end %>
</ul>

<div class="aa" style="float:right; width: 40%; padding-right: 50px">
  Activity Feeds <br />

  <% current_user.feeds.each do |feed| %>
        <div id="list8">
         <ul>
           <li><a href="#"><%= feed.user.nil? ? "#{feed.actor.name} edited the #{feed.story.title} from the project #{feed.project.name}" : "#{feed.actor.name} added #{feed.user.name} to the project #{feed.project.name}"  %></a></li>
           <h5>on <%= feed.created_at %></h2>
         </ul>
        </div>
  <% end %>

</div>

<div style="width: 30%;" >
<%= link_to 'New Project', new_project_path, :class => :button %>
</div>
